<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Verification</title>
</head>
<style>
    *{
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
</style>
<body>
    <div style="display:flex; align-items:center; justify-content:center; flex-direction:column">
        <img src="https://img.icons8.com/cotton/344/digital-signature.png" alt="btc-logo">
        <h3>Email Verification Successfully</h3>
        <br>
        <br>
        <p>Thank you for choosing Exchange App, please Login back to your account and start trading</p>
    </div>
</body>
</html>